*.class
*.settings
*.project
*.classpath
*/.settings
*/target
*/bin
/.idea
*.iml
ins-marketing-server-common/.gitignore
ins-marketing-server-dao/.gitignore
ins-marketing-server-domain/.gitignore
ins-marketing-server-export/.gitignore
ins-marketing-server-rpc/.gitignore
ins-marketing-server-service/.gitignore
ins-marketing-server-web/.gitignore
ins-marketing-server-service/src/main/java/com/jd/insurance/pay/service/MarketingService.java
/bin/
